@import 'tailwindcss';

/* Controls for toast slide in animation */
@keyframes toastSlideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toast-slide-in-right {
  animation: toastSlideInRight 0.3s ease-in-out forwards;
}

/* Controls for opponent toast slide in animation */
@keyframes toastSlideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toast-slide-in-left {
  animation: toastSlideInLeft 0.3s ease-in-out forwards;
}